<mat-card-actions class="btn-add">
  <button (click)="add()" mat-button style="background-color: #33d60e; color: white">
    <mat-icon>add_box</mat-icon> Adicionar
  </button>
</mat-card-actions>
<mat-card class="example-card" *ngFor="let carona of caronasList">
  <mat-card-header *ngIf="carona.status == 1" style="border-bottom: solid 5px #33d60e">
    <mat-card-title>Destino | {{carona.cidadeDestino}}</mat-card-title>
    <mat-card-subtitle>{{carona.usuario.nome}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-header *ngIf="carona.status == 0" style="border-bottom: solid 5px red">
    <mat-card-title>Destino | {{carona.cidadeDestino}}</mat-card-title>
    <mat-card-subtitle>{{carona.usuario.nome}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row-info">
      <h3>Status: </h3>
      <span *ngIf="carona.status == 1" style="color: #33d60e"> Disponível</span>
      <span *ngIf="carona.status == 0" style="color: red"> Fechado</span>
    </div>
    <div class="row-info">
      <h3>Saída: </h3>
      <span> {{carona.cidadeOrigem}}</span>
    </div>
    <div class="row-info">
      <h3>Vagas: </h3>
      <span> {{carona.vagas}}</span>
    </div>
    <div class="row-info">
      <h3>Data: </h3>
      <span> {{carona.data.toString().split('-').reverse().join('/')}}</span>
    </div>
    <div class="row-info">
      <h3>Hora: </h3>
      <span> {{carona.hora}}</span>
    </div>
    <div class="row-info">
      <h3>Preço: </h3>
      <span>R$ {{carona.preco}}</span>
    </div>
    <div class="row-info">
      <h3>Detalhes: </h3>
      <span>{{carona.descricao}}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="changeStatus(carona.id, carona)" mat-button *ngIf="carona.status == 1"
      style="background-color: #33d60e; color: white">Disponivel</button>
    <button (click)="changeStatus(carona.id, carona)" mat-button *ngIf="carona.status == 0"
      style="background-color: red; color: white">Bloqueado</button>
    <div>
      <button (click)="edit(carona.id)" mat-button style="background-color: #050d16; color: white">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="deletaCarona(carona.id)" mat-button style="background-color: red; color: white">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>

  </mat-card-actions>
</mat-card>